matplotlib==3.11.1
nvidia-cuda-cupti==13.0.85
nvidia-cuda-runtime==13.0.96
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-nvtx==13.0.85
opencv-python==5.0.0.93
pip==24.0
pygame==2.6.1
pygbag==0.9.3
scipy==1.18.0
torch==2.13.0
